body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 0;
    flex-direction: column;
    color: #05445E;
}


p {
    font-size: 24px;
    margin: 20px 0;
}


input#guessInput {
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    border: 2px solid #05445E;
    border-radius: 5px;
    outline: none;
    text-align: center;
}


button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #05445E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline: none;
}


button:hover {
    background-color: #03254C;
    transform: scale(1.05);
}


.message {
    margin-top: 20px;
    font-size: 22px;
    color: #03254C;
    transition: all 0.5s ease;
}
